{% extends "base.html" %}
{% block content %}
{% comment %} contains friends {% endcomment %}
<div id='friends-container'>
<h1>{{username}}'s friends</h1>
<div>
    <table class="players-table">
        {% comment %} header {% endcomment %}
        <tr class="players-categories">
            <th>Profile Picture</th>
            <th>Username</th>
        </tr>
        {% comment %} goes through every friend and output them {% endcomment %}
    {% for friend in friends %}
        <tr>
        {% if friend.from_user.username == username %}
        <td><a href={% url "profile" friend.to_user.pk %}><img src="{{friend.to_user.profile_picture.url}}" width="200" height="200"/></a></td>    
        <td><a href={% url "profile" friend.to_user.pk %}>{{friend.to_user.username}}</a></p>
            {% else %}
            <td><a href={% url "profile" friend.from_user.pk %}><img src="{{friend.from_user.profile_picture.url}}" width="200" height="200"/></a></td>
            <td><a href={% url "profile" friend.from_user.pk %}>{{friend.from_user.username}}</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
</div>
{% endblock  %}