{% extends "base.html" %}
{% block content %}
    <form action="{% url "profiles" %}">
        {{form}}
        <button type='submit'>Search</button>
    </form>
    <div>
    <table>
        <tr>
            <th>Profile Picture</th>
            <th>Username</th>
        </tr>
        {% for profile in profiles %}
            <td><a href={% url "profile" profile.pk %}><img src="{{profile.profile_picture.url}}" width="200" height="200"/></a></td>
            <td><a href={% url "profile" profile.pk %}>{{profile.username}}</a></td>
        {% endfor %}
    </table>
    </div>
{% endblock content %}