{% extends "base.html" %}
{% block content %}
<div id='profile-container'>
<img src="{{profile.profile_picture.url}}" alt="profile pictures" width="300" height="300">

<h1>{{profile.username}}</h1>
<h3>Joined {{profile.join_date}}</h3>
<h3>Born {{profile.dob}}</h3>
{% comment %} <h3>Link: <a href="{{profile.get_absolute_url}}">Link</a></h3> {% endcomment %}
<h3>Bio: {{profile.bio}}</h3>
<div id='account-modification-container'>
{% if is_friends == 'Is itself' %}
<h1><a href="{% url "update_profile" %}">Update Account</a></h1>
<h1><a href="{% url "delete_profile" %}">Delete Account</a></h1>
{% endif %}
{% if is_friends == False %}
<h1><a href="{% url "add_friend" profile.pk %}">Add Friend</a></h1>
{% endif %}
{% if is_friends == True %}
<h1>Friends since {{friends_since}}</h1>
{% endif %}
</div>
</div>
{% endblock %}