{% extends "base.html" %}
{% block title %}
Register for an account
{% endblock %}

{% block content %}
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p>

        {% comment %} <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>
        
        <form>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Username"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
            />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right">Sign up</button>
        </form> {% endcomment %}
        {% comment %} {% if form.errors %}
        <ul class="error-messages">
          {% for error in in form.errors %}
            <li>{{error.as_text}}</li>
          {% endfor %}
        </ul>

        {% endif %} {% endcomment %}
        <form>
          {% csrf_token %}
          {% for field in form %}
            <fieldset class="form-group">
              {{ field.label }}
              {{ field }}
            </fieldset>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
