body {
    font-family: "Roboto";
    background-color: #1e1e2e;
    color: #cdd6f4;
    overflow: auto;
    width: 100%;
}

.list-no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a {
    color: #89b4fa;
    text-decoration: none;
}
a:hover {
    opacity: 80%;
}
#brand {
    text-align: center;
}

#base-body {
    display: flex;
    
}